{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
	<div class="container" id="topdiv5">
		<h5 class="card-title">Edit your Product</h5>
		<form action="{{ url_for('main.edit', pro_id = result.product_id) }}" method="POST">
			
	  		<div class="form-group">
	    		<label for="exampleFormControlTextarea1">Name</label>
	    		<textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="product_name" required>{{result.product_name}}</textarea>
	  		</div>
	  		<div class="form-group">
	    		<label for="exampleFormControlTextarea1">Description</label>
	    		<textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="description" required>{{result.description}}</textarea>
	  		</div>
			  <div class="form-group">
				<label for="price_range">Price Range</label>
				<input type="number" class="form-control" id="price_range" name="price_range" placeholder="{{ result.price_range }}" required>
			</div>
	  		<div class="form-group">
	    		<label for="exampleFormControlTextarea1">Comments</label>
	    		<textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="comments" required>{{result.comments}}</textarea>
	  		</div>
	  		<button type="submit" class="btn btn-primary">Done</button>
		</form>
		<form action="{{ url_for('main.edit', pro_id=result.product_id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this product?');">
			<input type="hidden" name="_method" value="DELETE">
			<button id="delete-button" data-product-id="{{ result.product_id }}" class="btn btn-danger">DELETE</button>
		</form>
	</div>
{% endblock %}