{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block body %}
	<div class="container" id="topdiv6">
		<nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1">Products</span>
			{% if not user %}
			<a class="my-2 my-sm-0 mr-5" href="{{url_for('auth.signup')}}">signup <a class="my-2 my-sm-0"href="{{url_for('auth.login')}}">login</a></a>
			{% endif %}
			{% if user %}
			    {% if role == "Merchant" %}
			       <a class="my-2 my-sm-0 mr-5" href="{{url_for('main.home')}}">{{user}}</a>
			    {% endif %}
			<a class="my-2 my-sm-0 mr-5" href="{{url_for('auth.logout')}}">logout</a>
			{% endif %}
			
		</nav>
		{% if rows %}
				<div class="row" id="index0">
					{% for row in rows %}
						<div class="card needspace" style="width: 18rem;">
							<img src="{{ url_for('static', filename= 'images/'+row.filename) }}" class="card-img-top" alt="...">
							<div class="card-body">
			    				<h5 class="card-title">{{row.product_name}}</h5>
			    				<p class="card-text">{{row.category}}</p>
			  				</div>
			  				<ul class="list-group list-group-flush">
			  					<li class="list-group-item">{{row.description}}</li>
			    				<li class="list-group-item"> Rs. {{row.price_range}}</li>
			    				<li class="list-group-item">{{row.comments}}</li>
			  				</ul>
						</div>
					{% endfor %}
				</div>
			{% endif %}
	</div>
{% endblock %}